version: 2.1
jobs:
  Build and Publish Image:
    parameters:
      tag:
        type: string
        default: latest

    docker:
      - image: docker:latest

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: echo "${GCLOUD_SERVICE_KEY}" | docker login -u _json_key --password-stdin https://gcr.io
      - run: docker build -t gcr.io/rxjs-fiddle/frontend:<< parameters.tag >> -f Dockerfile .
      - run: docker push gcr.io/rxjs-fiddle/frontend:<< parameters.tag >>

  Bump Git Tag:
    docker:
      - image: gcr.io/rxjs-fiddle/ci/gitversion:0.0.8
        auth:
          username: _json_key
          password: ${GCLOUD_SERVICE_KEY}

    steps:
      - add_ssh_keys:
          fingerprints:
            - '19:86:7d:89:ad:2b:24:95:d5:fe:59:1a:92:46:4f:02'
      - checkout
      - run: gitversion bump auto
      - run: git push origin --tags
  Deploy:
    parameters:
      env:
        type: string

    docker:
      - image: gcr.io/rxjs-fiddle/ci/gcloud:0.0.12
        auth:
          username: _json_key
          password: ${GCLOUD_SERVICE_KEY}

    steps:
      - checkout
      - run: echo ${GCLOUD_SERVICE_KEY} > keyfile.json
      - run: gcloud auth activate-service-account ${GCLOUD_SERVICE_NAME} --key-file keyfile.json
      - run: gcloud container clusters get-credentials rxjs-fiddle-cluster --zone us-central1-a --project rxjs-fiddle
      - run: envsubst < k8s/deployment.yml | kubectl apply -n << parameters.env >> -f -
      - run: envsubst < k8s/service.yml | kubectl apply -n << parameters.env >> -f -

workflows:
  Deploy to Staging for Commits to Master:
    jobs:
      - Build and Publish Image:
          tag: latest
          filters:
            branches:
              only: master
      - Deploy:
          env: staging
          requires:
            - Build and Publish Image
          filters:
            branches:
              only: master
      - hold:
          type: approval
          requires:
            - Deploy
          filters:
            branches:
              only: master
      - Bump Git Tag:
          requires:
            - hold
          filters:
            branches:
              only: master

  Deploy to Production for Tags:
    jobs:
      - Build and Publish Image:
          tag: ${CIRCLE_TAG}
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - Deploy:
          env: default
          requires:
            - Build and Publish Image
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
